<div class="w-full h-[88.5vh] flex gap-2">
    <div class="w-[80px] bg-purple-500 min-h-full p-2">
        <ul class="p-4 flex flex-col gap-4 text-white">
            <li>AWokawok</li>
            <li>AWokawok</li>
            <li>AWokawok Awikwok</li>
        </ul>

        <nav>
            <a href="#first"><i class="far fa-user"></i></a>
            <a href="#second"><i class="fas fa-briefcase"></i></a>
            <a href="#third"><i class="far fa-file"></i></a>
            <a href="#fourth"><i class="far fa-address-card"></i></a>
        </nav>

        <div class='container'>
            <section id='first'>
                <h1>First</h1>
            </section>

            <section id='second'>
                <h1>Second</h1>
            </section>

            <section id='third'>
                <h1>Third</h1>
            </section>

            <section id='fourth'>
                <h1>Fourth</h1>
            </section>
        </div>
    </div>
</div>
